.titulo { font: normal 26pt Arial, Helvetica, sans-serif; letter-spacing: -1px; color: #003399}
.tex {  font: 9px Verdana, Arial, Helvetica, sans-serif; color: #666666}
.sub-titulo {  font: normal 12px Arial, Helvetica, sans-serif; color: #003399}
.titulo2 { font: 16pt Arial, Helvetica, sans-serif; color: #4A5DA1}
.nom-profe {  font: bold 16px Arial, Helvetica, sans-serif; color: #FFFFFF; clip:   rect(   ); margin:  1px 15px}
.resaltar-pregunta {  font: bold 12px Verdana, Arial, Helvetica, sans-serif; color: #000066}
