<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <add value="alumnos.asp" />
            </files>
        </defaultDocument>
        <httpErrors errorMode="Detailed" />

    </system.webServer>
	<system.web>
    <customErrors mode="Off">
    </customErrors> 
</system.web>
</configuration>


