@charset "iso-8859-1";
/* CSS Document */
body {
	font-family: Verdana, Geneva, sans-serif;
	font-size: .8em;	
}

h4 {
	margin-bottom: 0;
	padding-bottom: 0;
	font-size: 110%;
}

h3 {
	margin-bottom: 0;
	padding-bottom: 0;
	font-size: 110%;
}